*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Lato', sans-serif;

}

/*navbar css*/ 
nav {
    width : 100%;
    height :70px;
    line-height: 70px;
    padding:0 100px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    display: flex;
    position:fixed;
    top: 0;
    background:white;
    z-index: 9999;

}
.right{
    text-align: right;
    width: 50%;
}
.left{
    text-align: left;
    width: 50%;
}
.left a{
    font-weight: 700;
    font-size: 20px;

}
nav ul{
    list-style: none ;
}
nav ul a{
    text-decoration: none;
}
.shoppingCart i{
    font-size: 20px;
    display: inline-block ;
    color:orange;
    margin-right: 15px;
}
.cartCount{
    display:inline-block;
    width:30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-size: 12;
}

.container{
    width:100%;
    padding:0 100px;
}

/* Banner*/
header{
    width: 100%;
    background: url("./images/img1.jpg");
    height:350px;
    margin-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    color:blue;
}
.headerText{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.1);
    height:100%;
    width: 100%;
}
.headerText h1{
    font-size:40px;
}
.headerText p{
    font-size: 20px;
}

/*product styling*/
.products{
    display: flex;
    flex-wrap:wrap;
    width: 100%;

}

.product{
    width: 25%;
    padding:  0 10px ;
    margin: 15px 0;
    overflow: hidden;
    position: relative;
}

.product-image{
    width:100%;
    height:200px;
    overflow:hidden;
}
.product-image img {
    width : 100%;
}
.product-detail{
    padding: 15px 8px;
    text-align: center;
    background: white;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
}
.product-name{
    font-size: 18px;
    font-weight: 550;
    margin: 12px 0;
}
.product-price{
    font-size:20px;
    font-weight: 350;
    margin: 12px 0;
}

.add-to-cart{
    background:orangered ;
    padding: 10px 20px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.popular{
    position: absolute;
    top: 0;
    background:orange;
    padding: 5px 10px;
    color: white;
}
.new{
    position: absolute;
    top: 0;
    background:yellowgreen;
    padding: 5px 10px;
    color: white;
}
/*Not found error*/
.not-found-error{
    margin-top: 100px;
    
}

/* cart styling*/
.cart-container{
    width:100%;
    margin-top: 70px;
    padding: 0 100px;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
}
.cart-details{
    width:75%;
    border:1px solid white;
    border-radius:5px;
}
.cart{
    display:flex;
    align-items: center;
    background: white;
    padding: 15px 20px;
}
.cart-image{
    display: inline-block;
    width:80px;
    height: 80px;
    overflow: hidden;
    border-radius: 5px;
}
.cart-image img{
    width: 100%;
    height:100%;
}
.cart-product-name{
    display: inline-block;
    width: 150px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 14px;
}
.cart-product-price{
    display: inline-block;
    width: 120px;
    padding: 0 15px;
    text-align: center;
    font-weight: bold;
    color:chocolate;
}
.inc{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid brown;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
.product-quantity{
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    width:70px;
    text-align: center;
}
.dec{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid brown;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
.product-total-price{
    display: inline-block;
    width: 170px;
    padding: 0 15px;
    text-align: center;
}
.delete-product{
    border: none;
    color:brown;
    cursor: pointer;
}
/* cart description*/
.cart-description{
    width: 25%;
    padding: 0 0 0 20px;
    margin-top: 65px;
   
}
.description{
    background:white;
    padding: 13px;
}
.description h3{
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid blue;
    padding-bottom: 8px ;
}
.total-items{
    display: flex;
    margin: 15px 0;
}
.items{
    width:50%;
    text-align: left;
    font-weight: normal;
}
.items-count{
    width: 50%;
    text-align: right;
    font-weight: bold;
    color: orangered;
}
.total-price-section{
    display: flex;
    margin: 15px 0;
}
.title{
    width: 50%;
    text-align: left;
    font-weight: normal;
}
.items-price{
    width: 50%;
    text-align: right;
    font-weight: bold;
    color:orangered;
}

/*media query*/
@media(max-width:768px){
    .headerText{
        padding:0 15px;
    }
    .headerText h1{
        font-size: 20px;
    }
    .products{
        flex-direction: column;
    }
    .product{
        width: 100%;
    }
    .cart-container{
        flex-direction: column;
    }
    .cart{
        flex-direction: column;
    }
    .cart-details{
        width: 100%;
    }
    .cart-image{
        padding: 15px 0;
    }
    .cart-product-name{
        padding: 15px 0;
        text-align: center;
    }
    .cart-product-price{
        padding: 15px 0;
    }
    .product-quantity{
        padding: 15px 0;
    }
    .product-total-price{
        padding: 15px 0;
    }
    .cart-description{
        width: 100%;
    }
}